/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* Variable */
:root {
    --primary: #f2f2f2;
    --secondary: rgb(81, 201, 131);
}

/* Reset */
body,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Base Styles */
body {
    background: var(--primary);
    /* overflow: hidden; */
}

h1,
h2,
h3 {
    background: var(--secondary);
    font-family: 'Bebas Neue', cursive;
    color: var(--primary);
}


li {
    list-style-type: none;
}

input,
textarea {
    background: var(--primary);
    padding: 10px 16px;
    border-radius: 10px;
    border: 2px solid var(--secondary);
    display: inline-block;
}

.button {
    background: var(--secondary);
    padding: 10px 16px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    box-shadow: 1px 2px 3px #222222;
    text-transform: uppercase;
}


/* Mobile Styles */

/* Small Tablet Styles */
@media screen and (min-width: 620px) {}

/* Large Tablet Styles */
@media screen and (min-width: 960px) {}

/* Desktop Styles */
@media screen and (min-width: 1200px) {}

/* Grid testing */
.wisata-pilihan {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.wisata-pilihan a {
    text-align: center;
    background: gray;
    padding: 20px;
}